@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body {
  max-width: 1000px;
  background-color: #e0e5ec;

  /* background: rgb(58, 56, 56); */
}

#starttextdiv{
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond";
}

#choosecatdiv{
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond";
}
#addstuffdiv1{
    color: #353535;
    font-size: 20px;
    font-family: "Cormorant Garamond";
}
#addstuffdiv2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin: 10px;
}

.custom-btn{
    position: relative;
    color: #000;
    z-index: 2;
    /* line-height: 40px; */
    padding: 0;
  }
  .custom-btn {
    margin: 20px;
    outline: none;
    width: 150px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: "Andale Mono",monospace;
    /* font-weight: 500; */
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  .custom-btn:hover{
    border: none;
  }
  .custom-btn:before,
  .custom-btn:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .custom-btn:before {
    top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #000;
     border-left-color: #000;
  }
  .custom-btn:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: #000;
     border-right-color: #000;
     background-color: blue;
  }
  .custom-btn:hover:before,
  .custom-btn:hover:after {
    border-color: #000;
    height: 100%;
    width: 100%;
  }
  
/* #startbuttondiv{
    background: rgb(58, 56, 56);
}
#startbutton {
  text-decoration: none;
  border: 3px solid yellow;
  color: transparent;
  padding: 20px 60px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
}
#startbutton:before {
  content: "Go!";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
#startbutton:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
  
}
#startbutton:after {
  content: "Let's Hang!";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
#startbutton:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hangman {
  height: 300px;
}
#wordcontainer {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
  justify-content: center;
}
#categorycontainer {
  display: flex;
  height: 50px;
}
#hintcontainer {
  display: flex;
  height: 50px;
}
#categorydiv {
  display: flex;
  width: 400px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#categoryans {
  display: flex;
  width: 600px;
  height: 50px;
  justify-content: left;
  align-items: center;
}
#hintdiv {
  display: flex;
  width: 400px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#hintans {
  display: flex;
  width: 600px;
  height: 50px;
  justify-content: left;
  align-items: center;
}

#starttextdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 100px 0 0 0;
}
.guessletters {
  margin: 10px;
}
#livescontainer {
  font-size: 40px;
  margin: 10px;
}
#choosecatdiv {
  font-size: 50px;
  margin: 100px 0 0 0;
}
#addstuffdiv1 {
  font-size: 50px;
  margin: 40px 0 0 0;
}
#addstuffdiv2 {
  font-size: 15px;
}
.inputbox {
  margin: 10px;
}
#useraddedsuccessfully {
  color: red;
  font-weight: bold;
}
/* .buttongang{
    margin:auto;
} */
