body {
    display: block;
    align-items: center;
    justify-content: center;

}
#hangman{
    height: 300px;
}
#buttoncontainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
#livescontainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
#hangmancontainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
#wordcontainer{
    display:flex;
    justify-content: space-evenly;
    background-color: greenyellow;
    height: 50px;
    align-items: center;
    justify-content: center;
}
#categorycontainer{
    display:flex;
    flex-wrap: wrap;
    background-color:aqua;
    height: 50px;
    justify-content: space-evenly;
}
#hintcontainer{
    display:flex;
    flex-wrap: wrap;
    background-color:aqua;
    height: 50px;
    justify-content: space-evenly;
}

#startbuttondiv{
    display:flex;
    justify-content: center;
    align-items: center;
}
#starttextdiv{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 100px 0 0 0;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.guessletters{
    margin: 10px;
}
#livescontainer{
    font-size: 40px;
    margin:10px
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#choosecatdiv{
    font-size: 50px;
    margin: 100px 0 0 0;
}
#addstuffdiv1{
    font-size: 50px;
    margin: 40px 0 0 0;
}
#addstuffdiv2{
    font-size: 15px;
}
.inputbox{
    margin: 10px;
}
#useraddedsuccessfully{
    color: red;
    font-weight: bold;
}
/* #categorydiv{
    width: 35%;
}
#categoryans{
    width: 64%;
}
#hintdiv{
    width: 35%;
}
#hintans{
    width: 64%
} */
li{
    list-style:none;
    margin: 5px;
}